    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Netflix Clone</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />      
        <link rel="stylesheet" href="/styles/style.css">
    </head>
    <body>
        <div class="navbar">
            <img class="logo" src="/images/Netflix_Symbol.png">
            
            <div class="navbar-text">
                <ul>
                    <li><a href="/">HOME</a></li>
                    <li><a href="/originals">ORIGINALS</a></li>
                    <li><a href="/movies">MOVIES</a></li>
                    <li><a href="/contact">CONTACT</a></li>
                
                </ul>
            </div>
            <div class="search-icon">
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>

        
            

        
        </div>
    </body>
    </html>