<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--Font Awesome CDN-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="/styles/home.css">
 
  <title>Home page</title>
</head>

<body>
<%- include("partials/header.ejs") %>
  <div class="container">

    <div class="slide">

        
        <div class="item" style="background-image: url(/images/witch.jpg);">
            <div class="content">
                <div class="name">The Witch Part 1</div>
                <div class="des">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab, eum!</div>
                <button>See More</button>
            </div>
        </div>
        <div class="item" style="background-image: url(/images/moving.jpg);">
            <div class="content">
                <div class="name">Moving</div>
                <div class="des">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab, eum!</div>
                <button>See More</button>
            </div>
        </div>
        <div class="item" style="background-image: url(/images/3.jpg);">
            <div class="content">
                <div class="name">Iceland</div>
                <div class="des">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab, eum!</div>
                <button>See More</button>
            </div>
        </div>
        <div class="item" style="background-image: url(/images/4.jpg);">
            <div class="content">
                <div class="name">Australia</div>
                <div class="des">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab, eum!</div>
                <button>See More</button>
            </div>
        </div>
        <div class="item" style="background-image: url(/images/5.jpg);">
            <div class="content">
                <div class="name">Netherland</div>
                <div class="des">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab, eum!</div>
                <button>See More</button>
            </div>
        </div>
        <div class="item" style="background-image: url(/images/6.jpg);">
            <div class="content">
                <div class="name">Ireland</div>
                <div class="des">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab, eum!</div>
                <button>See More</button>
            </div>
        </div>

    </div>

    <div class="button">
        <button class="prev"><i class="fa-solid fa-arrow-left"></i></button>
        <button class="next"><i class="fa-solid fa-arrow-right"></i></button>
    </div>

</div>


<script src="/js/script.js" lang="UTF-8"></script>
<%- include("partials/footer.ejs") %>
</body>
</html>




   
