<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--Font Awesome CDN-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="/styles/home.css">
  
  <!-- Owl Carousel CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.theme.default.min.css">
 
  <style>
    .top-movies-slide {
      width: 100%;
      margin-top: 400px;
    }
    .movie-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
    .movie-item img {
      width: 100%;
      height: auto;
      display: block;
    }
    .owl-item {
      padding: 10px;
    }
  </style>


 
  <title>Home page</title>
</head>

<body>
<%- include("partials/header.ejs") %>
  <div class="container">

    <div class="slide">

        
        <div class="item" style="background-image: url(/images/witch.jpg);">
            <div class="content">
                <div class="name">The Witch Part 1</div>
                <div class="des">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab, eum!</div>
                <button>See More</button>
            </div>
        </div>
        <div class="item" style="background-image: url(/images/moving.jpg);">
            <div class="content">
                <div class="name">Moving</div>
                <div class="des">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab, eum!</div>
                <button>See More</button>
            </div>
        </div>
        <div class="item" style="background-image: url(/images/3.jpg);">
            <div class="content">
                <div class="name">Iceland</div>
                <div class="des">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab, eum!</div>
                <button>See More</button>
            </div>
        </div>
        <div class="item" style="background-image: url(/images/4.jpg);">
            <div class="content">
                <div class="name">Australia</div>
                <div class="des">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab, eum!</div>
                <button>See More</button>
            </div>
        </div>
        <div class="item" style="background-image: url(/images/5.jpg);">
            <div class="content">
                <div class="name">Netherland</div>
                <div class="des">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab, eum!</div>
                <button>See More</button>
            </div>
        </div>
        <div class="item" style="background-image: url(/images/6.jpg);">
            <div class="content">
                <div class="name">Ireland</div>
                <div class="des">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab, eum!</div>
                <button>See More</button>
            </div>
        </div>

    </div>

    <div class="button">
        <button class="prev"><i class="fa-solid fa-arrow-left"></i></button>
        <button class="next"><i class="fa-solid fa-arrow-right"></i></button>
    </div>

</div>

<!-- MOVIE ITEM 1 -->
 <div class="top-movies-slide">
    <div class="owl-carousel" id="top-movies-slide">
    <div class="movie-item">
    <img src="/images/suicide.jpg" alt="suicide-squad">
    <div class="movie-item-content">
        <div class="movie-item-title">
            Suicide Squad
        </div>
        <div class="movie-infos">
            <div class="movie-info">
                <i class="bx bxs-star"></i>
                <span>9.5</span>
            </div>
            <div class="movie-info">
                <i class="bx bxs-time"></i>
                <span>120 mins</span>
            </div>
            <div class="movie-info">
                <span>HD</span>
            </div>
            <div class="movie-info">
                <span>16+</span>
            </div>
        </div>
    </div>
</div>
<!-- END MOVIE ITEM -->

<!-- MOVIE ITEM 2 -->
<div class="movie-item">
    <img src="/images/johnwick.jpg" alt="suicide-squad">
    <div class="movie-item-content">
        <div class="movie-item-title">
            John Wick
        </div>
        <div class="movie-infos">
            <div class="movie-info">
                <i class="bx bxs-star"></i>
                <span>9.5</span>
            </div>
            <div class="movie-info">
                <i class="bx bxs-time"></i>
                <span>120 mins</span>
            </div>
            <div class="movie-info">
                <span>HD</span>
            </div>
            <div class="movie-info">
                <span>16+</span>
            </div>
        </div>
    </div>
</div>
<!-- END MOVIE ITEM -->

<!-- MOVIE ITEM 3 -->
<div class="movie-item">
    <img src="/images/harrypotter.jpg" alt="suicide-squad">
    <div class="movie-item-content">
        <div class="movie-item-title">
            Harry potter
        </div>
        <div class="movie-infos">
            <div class="movie-info">
                <i class="bx bxs-star"></i>
                <span>9.5</span>
            </div>
            <div class="movie-info">
                <i class="bx bxs-time"></i>
                <span>120 mins</span>
            </div>
            <div class="movie-info">
                <span>HD</span>
            </div>
            <div class="movie-info">
                <span>16+</span>
            </div>
        </div>
    </div>
</div>
<!-- END MOVIE ITEM -->

<!-- MOVIE ITEM 4 -->
<div class="movie-item">
    <img src="/images/shazam.jpg" alt="suicide-squad">
    <div class="movie-item-content">
        <div class="movie-item-title">
            Shazam
        </div>
        <div class="movie-infos">
            <div class="movie-info">
                <i class="bx bxs-star"></i>
                <span>9.5</span>
            </div>
            <div class="movie-info">
                <i class="bx bxs-time"></i>
                <span>120 mins</span>
            </div>
            <div class="movie-info">
                <span>HD</span>
            </div>
            <div class="movie-info">
                <span>16+</span>
            </div>
        </div>
    </div>
</div>
<!-- END MOVIE ITEM -->

<!-- MOVIE ITEM 5 -->
<div class="movie-item">
    <img src="/images/hungergames.jpg" alt="suicide-squad">
    <div class="movie-item-content">
        <div class="movie-item-title">
            Hunger Games
        </div>
        <div class="movie-infos">
            <div class="movie-info">
                <i class="bx bxs-star"></i>
                <span>9.5</span>
            </div>
            <div class="movie-info">
                <i class="bx bxs-time"></i>
                <span>120 mins</span>
            </div>
            <div class="movie-info">
                <span>HD</span>
            </div>
            <div class="movie-info">
                <span>16+</span>
            </div>
        </div>
    </div>
</div>
<!-- END MOVIE ITEM -->

<!-- MOVIE ITEM 6 -->
<div class="movie-item">
    <img src="/images/mazerunner.jpg" alt="suicide-squad">
    <div class="movie-item-content">
        <div class="movie-item-title">
            Maze Runner
        </div>
        <div class="movie-infos">
            <div class="movie-info">
                <i class="bx bxs-star"></i>
                <span>9.5</span>
            </div>
            <div class="movie-info">
                <i class="bx bxs-time"></i>
                <span>120 mins</span>
            </div>
            <div class="movie-info">
                <span>HD</span>
            </div>
            <div class="movie-info">
                <span>16+</span>
            </div>
        </div>
    </div>
</div>
</div>
</div>
<!-- END MOVIE ITEM -->


 <!-- Scripts -->
 <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.js"></script>
 <script>
    $(document).ready(function() {
      $('#top-movies-slide').owlCarousel({
        items: 6,
        dots: false,
        loop: true,
        autoplay: true,
        autoplayHoverPause: true,
        responsive: {
          500: {
            items: 3
          },
          1280: {
            items: 4
          },
          1600: {
            items: 6
          }
        }
      });
    });
  </script>
<script src="/js/script.js" lang="UTF-8"></script>
<%- include("partials/footer.ejs") %>

</body>
</html>




   
